@import '~vuetify/dist/vuetify.min';
@import 'variables';

.cursor-pointer {
  cursor: pointer;
}

.theme--light.v-application {
  background: $color--white !important;
  color: #474747 !important;
  font-family: Arial, sans-serif;
}

html {
  font-size: 18px !important;

  .col, [class*=col-] {
    padding: 0;
  }

  .row {
    margin: 0;
  }
}

a {
  text-decoration: unset;
  text-transform: none !important;
  color: #474747 !important;
}

button {
  text-transform: none !important;
}
